{% extends 'shared/base.html.twig' %}
{% block body %}
    {% include('shared/component/flash_messages.html.twig') %}
    <h2>{{ date_period.startDate|date('M jS, Y') }}
        - {{ date_period.endDate|date_modify("-1 day")|date('M jS, Y') }}
        <div class="pull-right">
            <a class="btn btn-success"
               href="{{ path('schedule_weekly', {'date': date_period.startDate|date_modify("-7 day")|date('Y-m-d')}) }}">
                <i class="fa fa-arrow-left"></i> Previous
            </a>
            <a class="btn btn-success"
               href="{{ path('schedule_weekly', {'date': date_period.endDate|date('Y-m-d')}) }}">
                Next <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </h2>
    {% for date in date_period %}
        <h3 class="content_title">{{ date|date('l, M jS, Y') }}</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td rowspan="2">Time</td>
                <td colspan="{{ rooms|length }}">Rooms</td>
            </tr>

            <tr>
                {% for room in rooms %}
                    <td>{{ room }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for key, time in shifts[date|date('w')]['times'] %}
                <tr>
                    <td>
                        {{ time['start']|date('g:i A') }} - {{ time['end']|date('g:i A') }}
                    </td>
                    {% for room in rooms %}
                        <td style="padding: 0;">
                            {% if shifts[date|date('w')]['shifts'][room.__toString][key] is defined %}
                                {% for shift in shifts[date|date('w')]['shifts'][room.__toString][key] %}
                                    <div>
                                        {% for subject in shift %}
                                            {% if subject['subject'] == 'shift_leader' %}
                                                <div style="padding: 8px 8px 2px 8px; color: #ffffff; background-color: #337ab7;">
                                                    <i class="fa fa-star"></i> {{ "Shift Leader: " }}
                                                    {% for assignment in subject['assignments'] %}
                                                        {{ assignment.mentor }}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% for subject in shift %}
                                            {% if subject['subject'] != 'shift_leader' %}
                                                <div style="padding: 0px 8px 2px 8px; color: #ffffff; background-color: {{ subject['subject'].color }};">
                                                    {#{{ subject['subject'] -}} {{- ": " }}#}
                                                    {% for assignment in subject['assignments'] %}
                                                        {% if assignment.absence is not empty %}
                                                            {{ assignment.mentor }} {{ "(absent)" -}}
                                                        {% else %}
                                                            {{ assignment.mentor -}}
                                                        {% endif %}
                                                        {% if not loop.last %}
                                                            {{- ", " }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3 class="content_title">Sessions</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>Time</td>
                <td>Room</td>
                <td>Topic</td>
                <td>Mentors</td>
                <td>Materials</td>
                <td>Details</td>
            </tr>
            </thead>
            <tbody>
            {% for timeslot in sessions[date|date('w')] %}
                <tr>
                    <td>{{ timeslot.startTime|date('g:i A') }}</td>
                    <td>{{ timeslot.location }}</td>
                    {% if timeslot.session.topic is defined%}
                        <td>{{ timeslot.session.topic }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>
                     {% if timeslot.assignments is defined%}
                        {% for assignment in timeslot.assignments %}
                            {{ assignment.mentor }}
                            {% if not loop.last %}
                                {{ ", " }}
                            {% endif %}
                        {% else %}
                        {% endfor %}
                      {% endif %}  
                    </td>
                    <td>
                    {% if timeslot.session.files is defined%}
                        {% for file in timeslot.session.files %}
                            <a href="{{ path('download', {'id': file.id}) }}">{{ file.name }}</a>
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    {% endif %}     
                    </td>
                    <td>
                        <a class="btn btn-success" href="{{ path('session_timeslot_view', {'tid': timeslot.id}) }}">
                            View
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">No sessions!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Quizzes</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <td>Topic</td>
                <td>Room</td>
                <td>Description</td>
                <td>Materials</td>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes[date|date('w')] %}
                <tr>
                    <td>{{ quiz.topic }}</td>
                    <td>{{ quiz.location }}</td>
                    <td>{{ quiz.description }}</td>
                    <td>
                        {% for file in quiz.files %}
                            <a href="{{ path('download', {'fid': file.id}) }}">{{ file.name }}</a>
                            {% if not loop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No quizzes!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}