<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>CSMC Admin!</span></a>
        </div>

        <div class="clearfix"></div>

        {#<!-- menu profile quick info -->#}
        {#<div class="profile clearfix">#}
        {#<div class="profile_pic">#}
        {#<img src="images/img.jpg" alt="..." class="img-circle profile_img">#}
        {#</div>#}
        {#<div class="profile_info">#}
        {#<span>Welcome,</span>#}
        {#<h2>John Doe</h2>#}
        {#</div>#}
        {#<div class="clearfix"></div>#}
        {#</div>#}
        {#<!-- /menu profile quick info -->#}

        {#<br />#}

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('home') }}"><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>

                    </li>
                    <li><a><i class="fa fa-cog"></i> System Set Up <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('admin_ip_list') }}">IPs</a></li>
                            <li><a href="{{ path('admin_room_list') }}">Rooms</a></li>
                            <li><a href="{{ path('admin_semester_list') }}">Semesters</a></li>
                            <li><a href="{{ path('admin_department_list') }}">Departments</a></li>
                            <li><a href="{{ path('admin_course_list') }}">Courses</a></li>
                            <li><a href="{{ path('admin_section_list') }}">Sections</a></li>
                            <li><a href="{{ path('admin_hours_list') }}">Operation Hours</a></li>
                            <li><a href="#{#{ path('admin_schedule_list') }#}">Schedule Time</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-user"></i> Users <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('admin_user_list') }}">User</a></li>
                            <li><a href="{{ path('admin_user_group_list') }}">User Groups</a></li>
                            <li><a href="{{ path('admin_role_list') }}">Roles</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-users"></i> Mentor Management <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li id="occurrence-summary-tab"><a href="{{ path('admin_view_occurrence_summary') }}">Occurrences</a></li>
                            <li id="mentor-summary-tab"><a href="{{ path('admin_view_mentor_summary') }}">Mentor Summary</a></li>
                            <li><a href="{{ path('admin_view_mentor_specialty') }}">Specialty</a></li>
                            <li><a href="{{ path('behavior_occurrence_submission') }}">Submit Occurrence</a></li>
                            <li><a href="{{ path('admin_view_mentor_summary_settings') }}">Settings</a></li>
                        </ul>
                    </li>

                    <li><a href="{{ path('admin_announcement_list') }}"><i class="fa fa-bullhorn"></i> Announcements</a>
                    </li>

                    <li><a>
                            <i class="fa fa-clock-o"></i> Session Schedule {#<span class="badge bg-green">6</span>#}
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('admin_session_calendar') }}">Calendar</a></li>
                            <li><a href="{{ path('admin_session_requests') }}">Requests</a></li>
                            <li><a href="#{#{ path('admin_holiday_list') }#}">Holidays</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>
                            <i class="fa fa-suitcase"></i> Staffing <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li><a href="{{ path('admin_schedule_calendar') }}">Calendar</a></li>
                            <li><a href="{{ path('admin_schedule_absences') }}">Absences</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="images/img.jpg" alt="">CSMC Admin
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="javascript:;"> Profile</a></li>
                        <li>
                            <a href="javascript:;">
                                <span class="badge bg-red pull-right">50%</span>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li><a href="javascript:;">Help</a></li>
                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
